.theElementsInside{
    color: white;
    text-align: center;
    justify-items: center;
    padding-top:10%;
    padding-bottom:10%;
}

.theBox{
    background-color: black;
}

body{
    background-color: black;
}

